.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Crea cuatro columnas de ancho igual */
    grid-gap: 5px;
    /* Espacio entre las tarjetas */
}

.div2 {
    display: flex;
}
.bar {
    display: flex;
    justify-content: center;
}