.container {
    display: grid;
    margin: 10px;

    grid-template-columns: repeat(4, 1fr);
    /* Crea cuatro columnas de ancho igual */
    grid-gap: 50px;
    /* Espacio entre las tarjetas */
}

.div2 {
    display: flex;
    margin: 10px;
    position: relative;
}

.bar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 10%;
}

.Select {
    width: 6em;
    margin: 10px;
    height: 2.5em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2T{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.Button {
    background-color: #c97136;
    color: #0b0909;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 5em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-top: 10px;
  
    cursor: pointer;
}